#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

.holder{
  width: 90vw;
  height: auto;
  border: 1px solid gray;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
}